{% extends 'authentication/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'chatbot/chatbot.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{% static 'chatbot/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'chatbot/chatbot.js' %}"></script>
{% endblock head %}

{% block body %}
    <div class="container">
        <div class="chatbox">
            <div class="history-block">
                <button type="button" class="new-chat-button" id="new-chat"> + New chat</button>  
                <div class="chat-history">
                    {% for key, value in old_messages.items %}
                    <div class="old-message {{ key }}">
                        <button class="old-message-delete-button" id="table-btn-delete"><i class="fa fa-trash icon"></i></button>
                        <button id="message-click-button">{{ value }}</button>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <div class="content-block"> 
                <h2 class="chat-header">Openwebtext GPT2 Chatbot</h2>
                <div class="chat-messages"></div>
            </div>
            <div class="prompt-block">
                    <form class="chat-input-form">
                        <input type="text" class="chat-input" required placeholder="Type your messages here...">
                        <button type="submit" class"button send-button">Send</button>
                    </form>
            </div>

            <div class="bot-block">
                <button type="button" class="button bot-select-button active-bot" id="bot-openwebtext">Openwebtext</button> 
                <button type="button" class="button bot-select-button" id="bot-custom">Custom Dataset</button> 
            </div>

            <div class="signout-block">
                <a href="{% url 'authentication:signout' %}">
                    <i class="fa fa-sign-out"></i>Sign out
                </a>
            </div>
        </div>
    </div>
    <a href="{% static 'chatbot/media/chatbot.jpg' %}"  class="bot-icon-url"></a>
    <a href="{% static 'authentication/media/logo.png' %}"  class="human-icon-url"></a>
    <!-- second container contain information about the using of product, some example -->
    <script>
        const csrfToken = '{{ csrf_token }}';
        const baseURL = '{{ base_url }}';
        var messageID = Number('{{ start_message_id }}');
    </script>
{% endblock body %}
